<!DOCTYPE html>
<html lang="en">
<body id="page-top" class="index">
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To SoundTube!</div>
                <div class="intro-heading">Listen to music, no limits. Anywhere, anytime.</div>
            </div>
        </div>
    </header>

    <!-- style Grid Section -->
    <section id="style" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">styles</h2>
                    <h3 class="section-subheading text-muted">Choose a style you like the most.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 style-item">
            
                    <%= link_to explore_path('PLFgquLnL59alCl_2TQvOiD5Vgm1hCaGSI'), :class=>"style-link" do%>
                        <div class="carousel-caption">
                            <h3 class="section-heading">#Pop</h3>
                        </div>
                        <div class="style-hover">
                            <div class="carousel-caption">
                                <h3 class="section-heading">#Pop</h3>
                            </div>
                        </div>
                        <img src="assets/style/pop.jpg" class="img-responsive" alt="">
                    <% end %>
                </div>
                <div class="col-md-3 style-item">
                    <%= link_to video_path('UCCIPrrom6DIftcrInjeMvsQ'), :class=>"style-link" do %>
                        <div class="carousel-caption">
                            <h3 class="section-heading">#Electro</h3>
                        </div>
                        <div class="style-hover">
                            <div class="carousel-caption">
                                <h3 class="section-heading">#Electro</h3>
                            </div>
                        </div>
                        <img src="assets/style/electro2.jpg" class="img-responsive" alt="">
                    <% end %>
                </div>
                <div class="col-md-3 style-item">
                    <%= link_to video_path('UCUnSTiCHiHgZA9NQUG6lZkQ'), :class=>"style-link" do %>
                        <div class="carousel-caption">
                            <h3 class="section-heading">#Hip-hop</h3>
                        </div>
                        <div class="style-hover">
                            <div class="carousel-caption">
                                <h3 class="section-heading">#Hip-hop</h3>
                            </div>
                        </div>
                        <img src="assets/style/hip-hop.jpg" class="img-responsive" alt="">
                    <% end %>
                </div>
                <div class="col-md-3 style-item">
                    <%= link_to video_path('UCRZoK7sezr5KRjk7BBjmH6w'), :class=>"style-link" do %>
                        <div class="carousel-caption">
                            <h3 class="section-heading">#Rock</h3>
                        </div>
                        <div class="style-hover">
                            <div class="carousel-caption">
                                <h3 class="section-heading">#Rock</h3>
                            </div>
                        </div>
                        <img src="assets/style/rock.jpg" class="img-responsive" alt="">
                   <% end %>
                </div>
                <div class="col-md-3 style-item">
                    <%= link_to video_path('UCvwDeZSN2oUHlLWYRLvKceA'), :class=>"style-link" do %>
                        <div class="carousel-caption">
                            <h3 class="section-heading">#Blues</h3>
                        </div>
                        <div class="style-hover">
                            <div class="carousel-caption">
                                <h3 class="section-heading">#Blues</h3>
                            </div>
                        </div>
                        <img src="assets/style/blues.jpg" class="img-responsive" alt="">
                    <% end %>
                </div>
                <div class="col-md-3 style-item">
                    <%= link_to video_path('UCsFaF_3y_L__y8kWAIEhv1w'), :class=>"style-link" do %>
                        <div class="carousel-caption">
                            <h3 class="section-heading">#Soul</h3>
                        </div>
                        <div class="style-hover">
                            <div class="carousel-caption">
                                <h3 class="section-heading">#Soul</h3>
                            </div>
                        </div>
                        <img src="assets/style/soul.jpg" class="img-responsive" alt="">
                    <% end %>
                </div>
                  <div class="col-md-3 style-item">
                    <%= link_to video_path('UCEdvzYtzTH_FFpB3VRjFV6Q'), :class=>"style-link" do %>
                        <div class="carousel-caption">
                            <h3 class="section-heading">#Reggae</h3>
                        </div>
                        <div class="style-hover">
                            <div class="carousel-caption">
                                <h3 class="section-heading">#Reggae</h3>
                            </div>
                        </div>
                        <img src="assets/style/reggae.jpg" class="img-responsive" alt="">
                    <% end %>
                </div>
                  <div class="col-md-3 style-item">
                    <%= link_to video_path('UClYMFaf6IdjQnZmsnw9N1hQ'), :class=>"style-link" do %>
                        <div class="carousel-caption">
                            <h3 class="section-heading">#Country</h3>
                        </div>
                        <div class="style-hover">
                            <div class="carousel-caption">
                                <h3 class="section-heading">#Country</h3>
                            </div>
                        </div>
                        <img src="assets/style/country.jpg" class="img-responsive" alt="">
                    <% end %>
                </div>
                  <div class="col-md-3 style-item">
                    <%= link_to video_path('UCxk1wRJGOTmzJAbvbQ8VicQ'), :class=>"style-link" do %>
                        <div class="carousel-caption">
                            <h3 class="section-heading">#Funk</h3>
                        </div>
                        <div class="style-hover">
                            <div class="carousel-caption">
                                <h3 class="section-heading">#Funk</h3>
                            </div>
                        </div>
                        <img src="assets/style/funk.jpg" class="img-responsive" alt="">
                    <% end %>
                </div>
                  <div class="col-md-3 style-item">
                    <%= link_to video_path('UC7KZmdQxhcajZSEFLJr3gCg'), :class=>"style-link" do %>
                        <div class="carousel-caption">
                            <h3 class="section-heading">#Jazz</h3>
                        </div>
                        <div class="style-hover">
                            <div class="carousel-caption">
                                <h3 class="section-heading">#Jazz</h3>
                            </div>
                        </div>
                        <img src="assets/style/jazz.jpg" class="img-responsive" alt="">
                    <% end %>
                </div>
                  <div class="col-md-3 style-item">
                    <%= link_to video_path('UCNGkvx5UwHzqlo6zDgRDYsQ'), :class=>"style-link" do %>
                       <div class="carousel-caption">
                            <h3 class="section-heading">#Disco</h3>
                        </div>
                        <div class="style-hover">
                            <div class="carousel-caption">
                                <h3 class="section-heading">#Disco</h3>
                            </div>
                        </div>
                        <img src="assets/style/disco.jpg" class="img-responsive" alt="">
                    <% end %>
                </div>
                  <div class="col-md-3 style-item">
                    <%= link_to video_path('UCLwMU2tKAlCoMSbGQDuiMSg'), :class=>"style-link" do %>
                        <div class="carousel-caption">
                            <h3 class="section-heading">#Classical</h3>
                        </div>
                        <div class="style-hover">
                            <div class="carousel-caption">
                                <h3 class="section-heading">#Classical</h3>
                            </div>
                        </div>
                        <img src="assets/style/classical.jpg" class="img-responsive" alt="">
                    <% end %>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>

</body>

</html>
